.App {
    background-color: #282c34;
    min-height: 100vh;
}
.App-header {
    height: 60px;
    line-height: 60px;
    margin: 0;
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(16px + 2vmin);
    color: white;
    border-bottom: 1px solid #295068;
}
.App-header-title {
    margin: 0;
}
.menu-container {
    z-index: 0;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #295068;
    height: 100vh;
    width: 40vw;
    padding: 0;
    transform: translateX(-100%);
    transition: all 500ms ease-in-out;

    @media (max-width: 800px) {
        width: 100vw;
    }
}
.menu-open {
    transform: translateX(0%);
}
.menu-icon {
    height: 30px;
    fill: white;
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 1;
    cursor: pointer;
}
.menu-header-cover {
    width: 100%;
    height: 60px;
}
.menu-item {
    padding: 10px 30px;
    color: white;
    border-left: 2px solid transparent;
}
.menu-item.selected {
    font-weight: bolder;
    border-left: 2px solid red;
}
.App-content {
    margin-top: 15px;
}
